@font-face
{
  font-family: 'afterglow-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('../Fonts/Afterglow-Regular.ttf') format('truetype');
}

.bloc_page
{
  width: 100%;
  margin: auto;
}

header
{
  background-color: burlywood;
}

header h1
{
  color: aliceblue;
  font-family: 'afterglow-Regular';
}

header a:hover
{
  text-decoration: none;
}

nav
{
  top: 66px;
  position: sticky;
  background-color: lightgray;
}

nav .nav-link
{
  padding: .5rem 4rem;
}

#background
{
  background-color: coral;
}

.main-container
{
  background-color: bisque;
}

#Zfooter
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("../images/cathedral.jpg");
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
}

#Zfooter a
{
  z-index: 6;
}

.gitlab
{
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 6;
}

.gitlab img
{
  height: 80px;
  opacity: .6;
  transition: .1s all linear;
}

.back-overlay
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,.75) 100%);
  z-index: 5;
}

.dropdown-submenu
{
  position: relative;
}

.dropdown-submenu .dropdown-menu
{
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-item:focus, .dropdown-item:hover
{
  background-color: #17a3b8cd
}

.alert-area
{
  display: none;
}
