.semi-stars
{
  font-size: larger;
  display: inline-block;
  position: relative;
}
 
.semi-stars::before
{
  content: "\2606 \2606 \2606 \2606 \2606 \2606 \2606 \2606 \2606 \2606";
  color: #1c5f9b;
}
 
.full-stars
{
  font-size: inherit;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color: #1c5f9b;
}
 
.full-stars::before
{
  content: "\2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605";
}